@import "../../../../styles/variables";
header {
  padding: 16px 0;

  .icon {
    cursor: pointer;
  }

  nav.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      display: flex;
      gap: 60px;
      align-items: center;

      ul.nav-links {
        display: flex;
        align-items: center;

        li a {
          padding: 0 16px;
        }

        li a.active {
          color: $color-primary-300 !important;
        }
      }
    }

    .links-container {
      gap: 0;
    }
  }
}
