<header>
  <nav class="container-fluid">
    <p class="title-sm-0 text-grey-900 icon" (click)="routToHome()">
      Speedo Transfer
    </p>

    <div class="links-container">
      <ul class="nav-links">
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            class="text-grey-700 body-m"
            >Home</a
          >
        </li>
        <li>
          <a
            class="text-grey-700 body-m"
            routerLinkActive="active"
            routerLink="/moneytransfer"
            >Money Transfer</a
          >
        </li>
        <li>
          <a
            class="text-grey-700 body-m"
            routerLinkActive="active"
            routerLink="/myaccount"
            >My Account</a
          >
        </li>
      </ul>

      <div *ngIf="isLoggedIn === null" class="btn-group">
        <button class="btn-outlined" (click)="routToLogin()">Login</button>
        <button class="btn-primary" (click)="routeToRegester()">
          Register Now
        </button>
      </div>

      <app-user *ngIf="isLoggedIn"></app-user>
    </div>
  </nav>
</header>
