<header>
  <nav class="container-fluid">
    <p class="title-sm-0 text-grey-900">Speedo Transfer</p>

    <div class="">
      <ul class="nav-links">
        <li><a class="text-grey-700 body-m" href="">Home</a></li>
        <li><a class="text-grey-700 body-m" href="">Money Transfer</a></li>
        <li><a class="text-grey-700 body-m" href="">My Account</a></li>
      </ul>
      <div class="btn-group">
        <button class="btn-outlined">Login</button>
        <button class="btn-primary">Register Now</button>
      </div>
      <!-- <app-user></app-user> -->
    </div>
  </nav>
</header>
