<div class="step-indicator">
  <a [ngClass]="index >= 1 ? 'active' : ''">
    <div class="step">
      <span class="body text-grey-100 sb">01</span>
      <p class="body text-grey-600 sb">Ammount</p>
    </div>
  </a>
  <a [ngClass]="index >= 2 ? 'active' : ''">
    <div class="separator">
      <span class="line"></span>
    </div>

    <div class="step">
      <span class="body text-grey-100 sb">02</span>
      <p class="body text-grey-600 sb">Confirm</p>
    </div>
  </a>

  <a [ngClass]="index >= 3 ? 'active' : ''">
    <div class="separator">
      <span class="line"></span>
    </div>
    <div class="step">
      <span class="body text-grey-100 sb">03</span>
      <p class="body text-grey-600 sb">Payment</p>
    </div>
  </a>
</div>
