<div class="content">
  <div class="tab-content">
    <div id="profile" class="tab-pane active">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
          <div class="form-group">
            <label for="changePasswordForm" class="text-grey-900 body"
              >Current Password</label
            >
            <input
              formControlName="currentPassword"
              class="text-grey-500 body-2"
              type="text"
              id="currentPassword"
              placeholder="Type here"
            />
            <div
              *ngIf="
                changePasswordForm.get('currentPassword')?.invalid &&
                isSubmitted
              "
            >
              <small
                *ngIf="
                  changePasswordForm.get('currentPassword')?.errors?.[
                    'required'
                  ]
                "
                class="text-danger-300"
                >Current Password is required.</small
              >
              <small
                *ngIf="
                  changePasswordForm.get('currentPassword')?.errors?.['pattern']
                "
                class="text-danger-300"
                >Password should contain Capital letters , small Letters and
                special character like ?$%^&
              </small>
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword" class="text-grey-900 body"
              >New Password</label
            >
            <input
              formControlName="newPassword"
              class="text-grey-500 body-2"
              type="text"
              id="newPassword"
              placeholder="Type here"
            />
            <div
              *ngIf="
                changePasswordForm.get('newPassword')?.invalid && isSubmitted
              "
            >
              <small
                *ngIf="
                  changePasswordForm.get('newPassword')?.errors?.['required']
                "
                class="text-danger-300"
                >New Password is required.</small
              >
              <small
                *ngIf="
                  changePasswordForm.get('newPassword')?.errors?.['pattern']
                "
                class="text-danger-300"
                >Password should contain Capital letters , small Letters and
                special character like ?$%^&*</small
              >
            </div>
          </div>
        </div>
        <button type="submit" class="btn-primary">Change Password</button>
      </form>
    </div>
  </div>
</div>
