@import "../../../../../styles/variables";

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  .form-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      width: 100%;
      padding: 12px;
      border: 1px solid $color-grey-40;
      border-radius: 6.5px;
      outline: none;
    }
  }

  button {
    width: fit-content;
  }
}
