<section class="hero">
  <span class="overlay bg-primary-50"></span>
  <div class="container-fluid">
    <div>
      <h3 class="text-grey-900 sb">Money Transfer</h3>
      <ul class="links">
        <li>
          <a href="" class="body md text-grey-700" routerLink="/home">Home</a>
        </li>
        <li>
          <a class="body md text-grey-700"
            ><span class="bg-grey-700"></span>About Us</a
          >
        </li>
        <li>
          <a
            class="body md text-grey-700"
            routerLinkActive="active"
            routerLink="ammount"
            ><span class="bg-grey-700"></span>Ammount</a
          >
        </li>
      </ul>
    </div>
    <img src="../../../../../assets/Vectors/Other/Breadcrumb vector.svg" />
  </div>
</section>
