@import "../../../styles/variables.scss";
.register {
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  main {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 25px;

    .close-icon {
      cursor: pointer;
    }
  }
  .register-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;

    .content-header {
      p {
        margin-bottom: 10px;
      }
    }
    form {
      width: 550px;
      border-radius: 6.5px;
      text-align: start;
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      .form-header {
        p:first-child {
          margin-bottom: 20px;
        }
      }
      .input-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
      .input-group {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .date {
          display: grid;
          grid-template-columns: 25% 40% 25%;
          gap: 15px;
        }
        .select-g {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }

        input,
        .input {
          padding: 14px;
          font-size: 15px;
          border: 1px solid $color-grey-70;
          border-radius: 6.5px;
          width: 100%;
          outline: 0;
        }
        .pass-cont {
          position: relative;
          .pass-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(-100%, -43%);
          }
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .register-footer {
    text-align: center;
    padding: 8px 16px;
  }
}
