<section class="hero">
  <span class="overlay"></span>
  <div class="container-fluid">
    <div class="first-g text-grey-0">
      <div class="text">
        <p class="">Simple. Quick. Secure.</p>
        <h1 class="hero-header">
          Send Money <br />
          Anywhere, Instantly
        </h1>
        <p class="rg">
          Fast, secure, and affordable international money <br />
          transfers. Get started in minutes
        </p>
      </div>
      <button class="btn-primary body" (click)="routeToregister()">
        Create An Account
      </button>
    </div>
    <form
      [formGroup]="transferForm"
      (ngSubmit)="onSubmit()"
      class="form bg-grey-0"
    >
      <div class="your-sent">
        <label for="">You Send</label>
        <div class="input-group">
          <input
            formControlName="sendAmount"
            (input)="getCurrency($event)"
            type="text"
            class="body text-grey-100"
            placeholder="1000"
          />
          <app-custome-select
            [default]="fromCurrency"
            (selected)="onSelectFromCurrency($event)"
          ></app-custome-select>
        </div>
        <div
          class="text-danger-300"
          *ngIf="transferForm.get('sendAmount')?.invalid && transferForm.dirty"
        >
          <small *ngIf="transferForm.get('sendAmount')?.errors?.['required']"
            >Amount is required.</small
          >
          <small *ngIf="transferForm.get('sendAmount')?.errors?.['pattern']"
            >Invalid amount.</small
          >
        </div>
      </div>
      <div class="recipient">
        <label for="">Recipient gets</label>
        <div class="input-group">
          <input
            type="text"
            formControlName="receiveAmount"
            [value]="ammount.toFixed(2)"
            class="body text-grey-100"
            placeholder="7200"
          />
          <app-custome-select
            [default]="toCurrency"
            (selected)="onSelectToCurrency($event)"
          ></app-custome-select>
        </div>
      </div>
      <p class="body text-grey-100 date">
        Delivery Time: <span class="text-grey-700">By {{ currentDate }}th</span>
      </p>
      <button
        type="submit"
        class="btn-primary body md"
        [disabled]="transferForm.invalid"
      >
        Continue
      </button>
    </form>
  </div>
</section>
