// Colors

// primary
$color-primary-50: #f3e9eb;
$color-primary-75: #cea3ac;
$color-primary-100: #b97d8a;
$color-primary-200: #9b4457;
$color-primary-300: #871e35;
$color-primary-400: #5f1525;
$color-primary-500: #521220;

// secondary
$color-secondary-50: #fcf7e9;
$color-secondary-75: #f4dda3;
$color-secondary-100: #efcf7d;
$color-secondary-200: #e8ba44;
$color-secondary-300: #e3ac1e;
$color-secondary-400: #9f7815;
$color-secondary-500: #8a6912;

// danger
$color-danger-200: #ff2b52;
$color-danger-300: #ff002e;

// grey
$color-grey-0: #ffffff;
$color-grey-10: #fbfbfb;
$color-grey-20: #f6f6f6;
$color-grey-30: #ededed;
$color-grey-40: #e3e2e2;
$color-grey-50: #c8c8c7;
$color-grey-60: #bbbab9;
$color-grey-70: #b0afae;
$color-grey-80: #a3a2a1;
$color-grey-90: #969593;
$color-grey-100: #898886;
$color-grey-200: #7c7a78;
$color-grey-300: #6e6d6b;
$color-grey-400: #64625f;
$color-grey-500: #565552;
$color-grey-600: #4b4a47;
$color-grey-700: #3c3a37;
$color-grey-800: #2f2d29;
$color-grey-900: #24221e;

// Primary colors
$primary-colors: (
  50: $color-primary-50,
  75: $color-primary-75,
  100: $color-primary-100,
  200: $color-primary-200,
  300: $color-primary-300,
  400: $color-primary-400,
  500: $color-primary-500,
);

// Secondary colors
$secondary-colors: (
  50: $color-secondary-50,
  75: $color-secondary-75,
  100: $color-secondary-100,
  200: $color-secondary-200,
  300: $color-secondary-300,
  400: $color-secondary-400,
  500: $color-secondary-500,
);

// Danger colors
$danger-colors: (
  200: $color-danger-200,
  300: $color-danger-300,
);

// Grey colors
$grey-colors: (
  0: $color-grey-0,
  10: $color-grey-10,
  20: $color-grey-20,
  30: $color-grey-30,
  40: $color-grey-40,
  50: $color-grey-50,
  60: $color-grey-60,
  70: $color-grey-70,
  80: $color-grey-80,
  90: $color-grey-90,
  100: $color-grey-100,
  200: $color-grey-200,
  300: $color-grey-300,
  400: $color-grey-400,
  500: $color-grey-500,
  600: $color-grey-600,
  700: $color-grey-700,
  800: $color-grey-800,
  900: $color-grey-900,
);

// Loop to generate text color classes
@each $name, $color in $primary-colors {
  .text-primary-#{$name} {
    color: $color;
  }
}

@each $name, $color in $secondary-colors {
  .text-secondary-#{$name} {
    color: $color;
  }
}

@each $name, $color in $danger-colors {
  .text-danger-#{$name} {
    color: $color;
  }
}

@each $name, $color in $grey-colors {
  .text-grey-#{$name} {
    color: $color;
  }
}
@each $name, $color in $primary-colors {
  .bg-primary-#{$name} {
    background-color: $color;
  }
}

@each $name, $color in $secondary-colors {
  .bg-secondary-#{$name} {
    background-color: $color;
  }
}

@each $name, $color in $danger-colors {
  .bg-danger-#{$name} {
    background-color: $color;
  }
}

@each $name, $color in $grey-colors {
  .bg-grey-#{$name} {
    background-color: $color;
  }
}
