@import "../../../../styles/variables";
.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.selected-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  gap: 5px;
  border-radius: 6.5px;
  border: 1px solid #e5e5e5;
  img {
    margin-right: 8px;
  }
}

.dropdown-options {
  position: absolute;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6.5px;
  padding: 5px 0;
  width: 100%;
  top: 100%;
  transform: translateY(-10px);
  max-height: 350px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  div {
    padding: 16px 8px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }
    .img {
      background-image: url("../../../../assets/Vectors/flags/states.svg");
      width: 17px;
      height: 17px !important;
      background-repeat: no-repeat;
      align-self: center;
      padding: 0;
    }
  }
}

.select-g {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
