<section class="mobile-app bg-primary-50">
  <div class="container-fluid">
    <div class="image">
      <img src="../../../../assets/img/App img.jpg" alt="" />
    </div>
    <div class="section-body">
      <p class="text-primary-300 sb">Mobile Application</p>
      <p class="text-grey-900 title-2 sb">
        Download our apps of your mobile phone for service
      </p>
      <p class="text-grey-700 body md">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy
      </p>
      <ul class="text-grey-700 sb body">
        <li>
          <img src="../../../../assets/Icons(SVG)/Background.svg" alt="" />
          <p class="">Lorem Ipsum is simply dummy </p>
        </li>
        <li>
          <img src="../../../../assets/Icons(SVG)/Background.svg" alt="" />
          <p>Lorem Ipsum is simply dummy text of the printing</p>
        </li>
        <li>
          <img src="../../../../assets/Icons(SVG)/Background.svg" alt="" />
          <p>Lorem Ipsum is simply dummy</p>
        </li>
      </ul>
      <div class="store">
        <img src="../../../../assets/Vectors/App/IOS icon.svg" alt="" />
        <img src="../../../../assets/Vectors/App/Google icon.svg" alt="" />
      </div>
    </div>
  </div>
</section>
