<footer class="footer bg-primary-500 text-grey-0">
  <div class="container-fluid">
    <div class="footer-body">
      <p class="title-sm-0 sb">Speedo Transfer</p>
      <p class="rg text-grey-10 desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <div class="contact">
        <p class="sb">Contact Info</p>
        <p class="rg text-grey-10">
          Email:
          <a href="mailto" class="text-grey-10 text-underline"
            >BM00000&#64;Speedo Transfer .com</a
          >
        </p>

        <p class="sm text-grey-10">Phone: <span>00000</span></p>
      </div>
    </div>
    <p class="rights text-grey-10 rg">
      All Rights Reserved for Speedo Transfer ©2024
    </p>
  </div>
</footer>
