<div class="content">
  <p class="title-sm-2 sb">Settings</p>
  <div class="settings-tabs">
    <ul class="tabs">
      <li>
        <a
          routerLink="profile"
          routerLinkActive="active"
          class="text-grey-300 sb"
          >Profile</a
        >
      </li>
      <li>
        <a
          routerLink="change-password"
          routerLinkActive="active"
          class="text-grey-300 sb"
          >Change password</a
        >
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
