.modal-container {
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  .modal-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .favorites {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  ul {
    .favorite-item {
      padding: 10px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 15px;
      margin: 10px 0;
      cursor: pointer;
      .image {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
