<div class="confirmation">
  <div class="confirmation-header">
    <p class="title-2 sb">1000 USD</p>
    <p class="body text-grey-500">Transfer amount</p>
  </div>
  <div class="confirmation-body">
    <div class="ammount text-grey-500">
      <p class="body text-grey-500">Total ammount</p>
      <p class="body text-grey-500">48.4220 EGP</p>
    </div>
    <div class="trnsaction-info">
      <div class="from bg-grey-20">
        <div class="image bg-grey-40">
          <mat-icon>account_balance</mat-icon>
        </div>
        <div class="indiv-info">
          <p class="body text-primary-300">From</p>
          <p class="name body sb text-grey-700">Jonathon Smith</p>
          <p class="account body-2 text-grey-100">Account xxxx7890</p>
        </div>
      </div>
      <div class="icons">
        <img src="../../../../../assets/Icons(SVG)/transfer.svg" alt="" />
      </div>
      <div class="to bg-grey-20">
        <div class="image bg-grey-40">
          <mat-icon>account_balance</mat-icon>
        </div>
        <div class="indiv-info">
          <p class="body text-primary-300">From</p>
          <p class="name body sb text-grey-700">Asmaa Dosuky</p>
          <p class="account body-2 text-grey-100">Account xxxx7890</p>
        </div>
      </div>
    </div>
    <div class="btns">
      <button class="btn-primary body md" (click)="confirm()">Confirm</button>
      <button class="btn-outlined body md" (click)="cancel()">Back</button>
    </div>
  </div>
</div>
