<section class="getting-started bg-grey-10">
  <div class="container">
    <div class="heading">
      <p class="sb text-primary-300">Getting Started</p>
      <p class="title-2 sb">
        Lorem Ipsum is simply dummy text of the printing.
      </p>
    </div>
    <div class="cards">
      <div class="card">
        <div class="card-image bg-primary-50">
          <img src="/assets/reate Account 1.png" alt="" />
        </div>
        <div class="card-body sb">
          <p>
            <span class="card-haed text-primary-300">1</span>. Create Account
          </p>
          <p class="text-grey-700 md body">
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-image bg-primary-50">
          <img src="/assets/Verify Identity 1.png" alt="" />
        </div>
        <div class="card-body sb">
          <p><span class="text-primary-300">2</span>. Confirmation</p>
          <p class="text-grey-700 md body">
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-image bg-primary-50">
          <img src="../../../../../assets/Tap Your Account 2.png" alt="" />
        </div>
        <div class="card-body sb">
          <p><span class="text-primary-300">3</span>. Payment</p>
          <p class="text-grey-700 md body">
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
